<ion-card>
  <ion-card-header>
    @if (isLoading) {
    <div
      class="flex justify-center items-center h-52 border-2 border-amber-300 rounded-md"
    >
      <ion-spinner name="circular"></ion-spinner>
    </div>
    } @else if (photo1 != '') {
    <img
      [routerLink]="['/cheese', cheese._id]"
      [src]="photo1"
      alt="{{ cheese.name }}"
      class="w-full h-52 rounded-md object-cover"
    />
    } @else {
    <img
      [routerLink]="['/cheese', cheese._id]"
      src="../../../assets/img/my-cheese-default.jpg"
      alt="{{ cheese.name }}"
      class="w-full h-52 rounded-md object-cover"
    />}
  </ion-card-header>
  <ion-card-content>
    <ion-card-title [routerLink]="['/cheese', cheese._id]" color="secundary"
      >{{ cheese.name }}
      <app-ico-milk-type [tipus]="cheese.milkType"></app-ico-milk-type
    ></ion-card-title>
    <hr />
    <div>{{ cheese.milkQuantity }} litres {{ cheese.milkOrigin }}</div>
    <hr />
    <div>
      <div class="cheese-date">
        <ion-icon name="calendar-outline" color="primary"></ion-icon>
        <p>{{ cheese.date | date : "dd/MM/yyyy" }}</p>
      </div>
      <div class="cheese-status">
        <app-ico-cheese-status [status]="cheese.status"></app-ico-cheese-status>
      </div>
    </div>
  </ion-card-content>
</ion-card>
