<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-cheese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-cheese</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <form [formGroup]="addCheeseForm">
      <ion-item class="form-item">
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Milk type</ion-label>
        <ion-select formControlName="milkType" interface="action-sheet">
          <ion-select-option value="cow">Cow</ion-select-option>
          <ion-select-option value="goat">Goat</ion-select-option>
          <ion-select-option value="sheep">Sheep</ion-select-option>
          <ion-select-option value="buffala">Buffala</ion-select-option>
          <ion-select-option value="mixed">Mixed</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Milk Quantity</ion-label>
        <ion-input type="number"  min="1" max="100" step="5" formControlName="milkQuantity" inputmode="numeric" required clearInput="true"></ion-input>
        <ion-note slot="helper">1–100 liters</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Milk Origin</ion-label>
        <ion-input formControlName="milkOrigin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea placeholder="Type description" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Public</ion-label>
        <ion-toggle [checked]="true"></ion-toggle>
      </ion-item>
      <div class="button-container">
        <ion-button expand="full" (click)="addCheese()" [disabled]="addCheeseForm.invalid">Create cheese</ion-button>
      </div>
    </form>
  </section>
</ion-content>
<app-menu></app-menu>
