<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-cheese</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <section>
    <form [formGroup]="addCheeseForm">
      <ion-item class="form-item">
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Milk type</ion-label>
        <ion-select formControlName="milkType" interface="action-sheet">
          <ion-select-option value="cow">Cow</ion-select-option>
          <ion-select-option value="goat">Goat</ion-select-option>
          <ion-select-option value="sheep">Sheep</ion-select-option>
          <ion-select-option value="buffala">Buffala</ion-select-option>
          <ion-select-option value="mixed">Mixed</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >Milk Quantity: {{ addCheeseForm.get('milkQuantity')?.value }}
          liters</ion-label
        >
        <ion-range [min]="2" [max]="20" formControlName="milkQuantity">
          <ion-label slot="start">2</ion-label>
          <ion-label slot="end">20</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Milk Origin</ion-label>
        <ion-input formControlName="milkOrigin"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea
          placeholder="Type description"
          formControlName="description"
          auto-grow="true"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal
          [keepContentsMounted]="true"
          (didDismiss)="onDateModalDismiss()"
        >
          <ng-template>
            <ion-datetime
              id="datetime"
              [value]="addCheeseForm.get('date')?.value "
              (ionChange)="addCheeseForm.get('date')?.setValue($event.detail.value)"
              presentation="date"
              [formatOptions]="{date: { day: '2-digit', month: 'long', year:'2-digit' }}"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label>Public</ion-label>
        <ion-toggle [checked]="true"></ion-toggle>
      </ion-item>

      <div class="flex justify-center">
        <ion-button (click)="addCheese()" [disabled]="addCheeseForm.invalid">
          Create cheese
        </ion-button>
      </div>
    </form>
  </section>
</ion-content>
<app-menu></app-menu>
