<ion-header>
  <ion-toolbar>
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Community Segments -->
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="discover">
      <ion-label>Discover</ion-label>
    </ion-segment-button>
    <ion-segment-button value="meetings">
      <ion-label>Meetings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="chat">
      <ion-label>Chat</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Discover Section -->
  @if (selectedSegment === 'discover') {
  <app-discover-tab></app-discover-tab>
  }

  <!-- Meetings Section -->
  @if (selectedSegment === 'meetings') {
  <app-meetings-tab></app-meetings-tab>
  }
  <!-- Chat Section -->
  @if (selectedSegment === 'chat') {
  <app-chat-tab></app-chat-tab>
  }
</ion-content>

<app-menu></app-menu>
