<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>community</ion-title>
    </ion-toolbar>
  </ion-header>
  <section class="flex flex-wrap gap-4 p-4 justify-center bg-amber-200">
    <div class="w-24 h-24 bg-amber-400 p-2 flex justify-center items-center font-bold text-center">World cheeses</div> 
    <div class="w-24 h-24 bg-amber-400 p-2 flex justify-center items-center font-bold text-center">Discover artesans</div> 
    <div class="w-24 h-24 bg-amber-400 p-2 flex justify-center items-center font-bold text-center">Meeting</div>
    <div class="w-24 h-24 bg-amber-400 p-2 flex justify-center items-center font-bold text-center">Games</div>
  </section>
</ion-content>
<app-menu></app-menu>