<article>
<div>
  <app-ico-milk-type [tipus]="item.milkType"></app-ico-milk-type>
  {{ item.milkQuantity }} litres
</div>
<div class="status">
  <app-ico-cheese-status [status]="item.status"></app-ico-cheese-status>
</div>
<hr />
<div class="date">Data: {{ item.date | date }}</div>
<div class="description">Descripció: {{ item.description }}</div>
<div>
  <ion-icon name="create-outline" [routerLink]="['/my-cheeses/edit', item._id]" size="large" color="primary"></ion-icon>
  <ion-icon name="trash-outline" (click)="deleteCheese(item._id)" color="danger" size="large"></ion-icon>
</div>
</article>
