<div>
  <app-ico-milk-type [tipus]="item.milkType"></app-ico-milk-type>
  {{ item.milkQuantity }} litres
</div>
<div class="status">
  <app-ico-cheese-status [status]="item.status"></app-ico-cheese-status>
</div>
<hr />
<div class="date">Data: {{ item.date | date }}</div>
<div class="description">Descripció: {{ item.description }}</div>
<ion-item color="light" size="large">
  <ion-button [routerLink]="['/my-cheeses/edit', item._id]" size="medium"
    >Edit
  </ion-button>
  <ion-button (click)="deleteCheese(item._id)" color="danger" size="medium"
    >Delete</ion-button
  >
</ion-item>
