      <div class="w-full p-4">
      <h3>{{item.name}}</h3> <app-ico-milk-type [tipus]="item.milkType"></app-ico-milk-type> {{item.milkQuantity}} litres</div>
      <div class="status"><app-ico-cheese-status [status]="item.status"></app-ico-cheese-status></div>
      <hr>
      <div class="date">Data: {{item.date | date}}</div>
      <div class="description">Descripció: {{item.description}}</div>
      <div class="actions flex gap-2 mt-4">
        <ion-button [routerLink]="['/my-cheeses/edit', item._id]" color="primary">Edit</ion-button>
        <ion-button (click)="deleteCheese(item._id)" color="danger">Delete</ion-button>
      </div>