<div class="w-full max-w-md mx-auto">
  <form [formGroup]="registerForm" class="w-full">
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input formControlName="displayName" type="text"></ion-input>
    </ion-item>
    @if(registerForm.get('displayName')?.touched &&
    registerForm.get('displayName')?.invalid) {
    <ion-note color="danger">El nom és obligatori</ion-note>
    }

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    @if(registerForm.get('email')?.touched &&
    registerForm.get('email')?.invalid) {
    <ion-note color="danger">Email invàlid</ion-note>
    }

    <ion-item>
      <ion-label>Contrasenya</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    @if(registerForm.get('password')?.touched &&
    registerForm.get('password')?.invalid) {
    <ion-note color="danger">Mínim 6 caràcters</ion-note>
    }
    <ion-item>
      <ion-label>Birth Date</ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="datetime"
            [value]="registerForm.get('birthDate')?.value"
            (ionChange)="
              registerForm.get('birthDate')?.setValue($event.detail.value)
            "
            presentation="date"
            [max]="maxBirthDate()"
            [formatOptions]="{
              date: { day: '2-digit', month: 'long', year: '2-digit' }
            }"
          >
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Country</ion-label>
      <ion-input formControlName="country" type="text"></ion-input>
    </ion-item>
    @if(registerForm.get('country')?.touched &&
    registerForm.get('country')?.invalid) {
    <ion-note color="danger">País obligatori</ion-note>
    }

    <ion-item>
      <ion-label>Province</ion-label>
      <ion-input formControlName="province" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>City</ion-label>
      <ion-input formControlName="city" type="text"></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      [disabled]="registerForm.invalid"
      (click)="register()"
    >
      Create account
    </ion-button>
  </form>
</div>
