ion-item {
  --background: #f4f5f8; /* Gris claro típico de Ionic */
  border-radius: 8px;
  margin-bottom: 12px;
  font-family: var(--ion-font-family);
  margin: 0 var(--spacing-xl) 12px var(--spacing-xl);// usa tu variable para el margen lateral
}
ion-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
ion-icon {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #afb1b6; /* Gris claro para iconos */
}








