<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-cheeses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>my-cheeses</ion-title>
    </ion-toolbar>
  </ion-header>
  <section class="flex flex-wrap gap-4 p-4 justify-center bg-yellow-200">
    <h2>Llistat de formatges</h2>
    @if(!isLoading && cheeses.length > 0) {
    <div class="cheese-count">Total de formatges: {{ cheeses.length }}</div>
    <div class="cheese-list">
      
      @for (cheese of cheeses; track cheese._id) {
     
      <app-cheese-card [cheese]="cheese"></app-cheese-card>
      }
    </div>
    } @else {
    <div>No has creat cap formatge encara</div>
    <ion-button>Crear formatge</ion-button>
    } @if (isLoading) {
    <div class="loading">Carregant formatges...</div>
    } @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
    }
  </section>
</ion-content>
<app-menu></app-menu>
