<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>my-cheeses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div>
        <ion-title size="large">my-cheeses</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/cheese/add']">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <section>
    @if(!isLoading && cheeses.length > 0) {
    <div class="cheese-list">
      @for (cheese of cheeses; track cheese._id) {

      <app-cheese-card [cheese]="cheese"></app-cheese-card>
      }
    </div>
    } @if (isLoading) {
    <ion-spinner>Loading cheeses</ion-spinner>
    } @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
    }
  </section>
</ion-content>
<app-menu></app-menu>
