<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">my-cheeses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
  <ion-searchbar [formControl]="searchControl"></ion-searchbar>
    @if(!isLoading && cheeses.length > 0) {
    <div class="cheese-list">
      @for (cheese of filteredCheeses; track cheese._id) {

      <app-cheese-card [cheese]="cheese"></app-cheese-card>
      }
    </div>
    } @if (isLoading) {
    <ion-spinner>Loading cheeses</ion-spinner>
    } @if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
    }
  </section>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/cheese/add']">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-menu></app-menu>
