<div class="chat-container">
  <!-- Loading indicator -->
  @if (isLoading) {
  <div class="text-center py-4">
    <ion-spinner></ion-spinner>
    <p class="text-secondary mt-2">Loading chat...</p>
  </div>
  }

  <!-- Chat Messages Section (Scrollable) -->
  @if (!isLoading) {
  <div class="messages-container">
    <div class="welcome-message">
      <h3>
        We'd love to hear from you! 🧀 <br />
        Share your thoughts and help us make Caseus even better for cheese
        lovers everywhere.
      </h3>
    </div>
    <ion-list class="messages-list">
      @for (message of messages; track message.id) {
      <ion-item
        class="message-item border-b border-gray-100"
        [class.own-message]="isOwnMessage(message)"
      >
        <ion-avatar slot="start" class="w-10 h-10 mr-4">
          @if (message.userAvatar) {
          <img [src]="message.userAvatar" [alt]="message.userName" />
          } @else {
          <div
            class="bg-amber-200 flex items-center justify-center p-2 h-10 w-10 rounded-full"
          >
            <ion-icon name="person-outline" class="text-3xl"></ion-icon>
          </div>

          }
        </ion-avatar>
        <ion-label>
          <div class="flex items-center justify-between mb-1"></div>
          <div class="text-gray-800 leading-relaxed break-words">
            {{ message.message }}
            <div class="flex items-center justify-between">
              <ion-text class="text-xs text-gray-500 ml-2 flex items-center">
                <ion-icon name="time-outline" class="mr-1"></ion-icon>
                {{ formatTime(message.timestamp) }}
              </ion-text>
              <!-- Delete button for own messages -->
              @if (isOwnMessage(message)) {
              <ion-button color="danger" (click)="deleteMessage(message)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
              }
            </div>
          </div>
        </ion-label>
      </ion-item>
      <hr />
      }
    </ion-list>
  </div>
  }
</div>

<!-- Fixed Message Input at Bottom -->
<div class="message-input-container">
  <div class="message-input-wrapper">
    <ion-input
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
      auto-grow="true"
      maxlength="250"
      (keydown)="onEnter($event)"
    >
    </ion-input>

    <ion-button
      (click)="sendMessage()"
      [disabled]="!newMessage.trim()"
      class="send-button"
    >
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </div>
</div>
