<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🧀 profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    <h1>Hi, Name</h1>
    <div class="flex flex-wrap gap-4 p-4">
      <div>      <ion-button>Edit profile</ion-button>
      <ion-button>followers / Following</ion-button>
   
      <ion-button>My cheeses</ion-button></div><div class="w-1/2"><img src="../../assets/img/cheese-logo.png" alt="CheeseLy"></div>

    </div>
  </section>
</ion-content>
<app-menu></app-menu>