<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Loading Spinner -->
  @if (isLoading) {
  <div class="ion-text-center ion-margin-top">
    <ion-spinner name="bubbles"></ion-spinner>
    <p>Loading profile...</p>
  </div>
  }

  <!-- User Profile Card -->
  @if (!isLoading) {
  <ion-card>
    <div class="profile-header">
      <ion-avatar class="profile-avatar">
        <img
          [src]="currentUser?.photoURL || '../assets/icon/cheese.png'"
          [alt]="currentUser?.displayName || 'User'"
        />
      </ion-avatar>
      <h2 class="user-name">{{currentUser?.displayName || 'User'}}</h2>
      <p>{{currentUser?.uid || ''}}</p>
      <p class="user-email">{{ currentUser?.email || '' }}</p>
    </div>
  </ion-card>
  }

  <!-- Actions -->
  <div class="menu-profile">
    <ion-button expand="block">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Edit Profile
    </ion-button>
    <ion-button expand="block">
      <ion-icon slot="start" name="people-outline"></ion-icon>
      Followers / Following
    </ion-button>
    <ion-button expand="block" routerLink="/my-cheeses">
      <ion-icon slot="start" name="restaurant-outline"></ion-icon>
      My Cheeses
    </ion-button>
    <ion-button color="danger" (click)="logout()" expand="block">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Logout
    </ion-button>
  </div>
</ion-content>

<app-menu></app-menu>
