<ion-segment>
  <ion-segment-button value="making" content-id="making">
    <ion-label>Making</ion-label>
  </ion-segment-button>
  <ion-segment-button value="ripening" content-id="ripening">
    <ion-label>Ripening</ion-label>
  </ion-segment-button>
  <ion-segment-button value="taste" content-id="taste">
    <ion-label>Taste</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-segment-view>
  <ion-segment-content id="making" class="bg-amber-100">
    <app-cheese-elaboration-making [cheeseId]="cheeseId">
    </app-cheese-elaboration-making>
  </ion-segment-content>
  <ion-segment-content id="ripening" class="bg-amber-200">
    <app-cheese-elaboration-ripening [cheeseId]="cheeseId">
    </app-cheese-elaboration-ripening>
  </ion-segment-content>
  <ion-segment-content id="taste" class="bg-amber-300">
    <app-cheese-elaboration-taste [cheeseId]="cheeseId">
    </app-cheese-elaboration-taste>
  </ion-segment-content>
</ion-segment-view>
