<ion-content class="home-container">

  <div class="cheese-icon">
    <ion-icon name="mycheese"></ion-icon>
  </div>
  <h1 class="main-title animated-title">
    <span
      *ngFor="let letter of cheesyLetters; let i = index"
      [style.animationDelay]="i * 0.1 + 's'"
    >
      {{ letter }}
    </span>
  </h1>
  <h2 class="subtitle">DISCOVER, CREATE<br />AND SHARE CHEESE</h2>

  <app-login-alternative></app-login-alternative>

  <ion-button [routerLink]="['/register-alternative']"> Sign Up </ion-button>
</ion-content>
<app-footer-nav></app-footer-nav>
