<!-- Bottom Navigation personalizado, SIEMPRE visible -->
<div class="bottom-nav">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="3">
          <ion-button fill="clear">
            <div class="nav-item">
              <ion-icon name="myhome"></ion-icon>
              <span class="nav-label">Home</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear">
            <div class="nav-item">
              <ion-icon name="search"></ion-icon>
              <span class="nav-label">Explore</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear">
            <div class="nav-item">
            <ion-icon name="myheart"></ion-icon>
            <span class="nav-label">Cheese Lovers</span>
            </div>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear">
            <div class="nav-item">
              <ion-icon name="person"></ion-icon>
              <span class="nav-label">Profile</span>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</div>
