// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #d87706;
  --ion-color-secondary: #fef3c7;
  --ion-color-tertiary: #92400e;
  --ion-background-color: #fffaf1;
  --ion-button-background-hover: #f59e0b;
  --ion-button-background: #fcd34d;
  --ion-button-background-active: #b36a00;
  --ion-font-family: "Cuprum", -apple-system, Roboto, Helvetica, sans-serif;
  --spacing-xs: 4px; /* Muy pequeño - para detalles minúsculos */
  --spacing-sm: 8px; /* Pequeño - para espacios reducidos */
  --spacing-md: 16px; /* Margen estándar entre tarjetas */
  --spacing-lg: 24px; /* Margen extra para secciones grandes */
  --spacing-xl: 32px; /* Extra grande - para espacios amplios */
  --footer-height: 90px;
}
