// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
 --bg-color: #FFFAF1;
 --title-color: #D97706;
 --ion-light-color: #FEF3C7;
 --ion-dark-color: #92400E;
}
