<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button
      defaultHref="/my-cheeses"
      slot="start"
      text=""
    ></ion-back-button>
    <ion-title>{{cheese?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <section>
    @if (isLoading) {
    <ion-spinner></ion-spinner>
    } @if (cheese) {
    <!-- Detail component. Basic information about cheese-->
    <app-cheese-detail-component
      [item]="cheese"
      style="width: 100%"
    ></app-cheese-detail-component>
    <hr />
    <!-- Buttons -->
    <div>
      <ion-button (click)="openPhotoModal()">Photos</ion-button>
      <!--Modal make photo-->
      <ion-modal
        [isOpen]="photoModalOpen"
        (didDismiss)="photoModalOpen = false"
        initialBreakpoint="0.8"
        [breakpoints]="[0.8, 0.5, 0]"
      >
        <ng-template>
          <app-cheese-photo-capture
            [id]="cheese._id"
          ></app-cheese-photo-capture>
        </ng-template>
      </ion-modal>

      <ion-button (click)="addNote()">add note</ion-button>
      <!-- add note modal -->
      <ion-modal
        [isOpen]="addNoteModalOpen"
        (didDismiss)="addNoteModalOpen = false"
        initialBreakpoint="0.8"
        [breakpoints]="[0.8, 0.5, 0]"
      >
        <ng-template>
          <app-add-note-modal
            (close)="addNoteModalOpen = false"
          ></app-add-note-modal>
        </ng-template>
      </ion-modal>
    </div>
    <br />
    <!-- Accordion for elaboration, maturation, and taste notes -->
    <ion-accordion-group
      [multiple]="true"
      expand="inset"
      [value]="['making', 'ripening', 'taste']"
      style="width: 100%"
    >
      <ion-accordion
        value="making"
        toggleIcon="caret-down-circle"
        toggleIconSlot="start"
      >
        <ion-item slot="header" color="light">
          <ion-label color="primary">
            <div class="title-accordion">
              <span>Making:</span>
</div
          ></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Making contents
          <ion-icon
                name="create-outline"
                size="large"
                color="primary"
                (click)="openMakingModal()"
              ></ion-icon></div>
        <ion-modal
          [isOpen]="makingModalOpen"
          (didDismiss)="makingModalOpen = false"
          initialBreakpoint="0.9"
          [breakpoints]="[1, 0.9, 0.6, 0]"
        >
          <ng-template>
            <ion-content class="modal-scroll">
              <app-cheese-elaboration-modal
                [id]="cheese._id"
              ></app-cheese-elaboration-modal>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-accordion>
      <!-- Maduration -->
      <ion-accordion
        value="ripening"
        toggleIcon="caret-down-circle"
        toggleIconSlot="start"
      >
        <ion-item slot="header" color="light">
          <ion-label color="primary">Ripening</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Maduration content</div>
      </ion-accordion>
      <ion-accordion
        value="taste"
        toggleIcon="caret-down-circle"
        toggleIconSlot="start"
      >
        <ion-item slot="header" color="light">
          <ion-label color="primary">Taste</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Taste content</div>
      </ion-accordion>
    </ion-accordion-group>

    } @else {
    <div>Cheese not found</div>
    }
  </section>
  <br />
  <div class="flex justify-center mb-4">
    <ion-button (click)="deleteCheese(cheese?._id ?? '')" class="delete-btn"
      ><ion-icon name="trash-outline"></ion-icon
    ></ion-button>
  </div>
</ion-content>
<app-menu></app-menu>
