<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{cheese?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section>
    @if (isLoading) {
      <ion-spinner></ion-spinner>
    }
    @if (cheese) {
          <app-cheese-detail-component [item]="cheese" style="width: 100%;"></app-cheese-detail-component>
    <hr />
    <div>
    <ion-button>make photo</ion-button>
    <ion-button>add note</ion-button>
    <ion-button>share</ion-button></div>
    <br>
  <ion-accordion-group [multiple]="true" expand="inset" [value]="['elaboration', 'maduration', 'taste']" style="width: 100%;">
  <ion-accordion value="elaboration"  toggleIcon="caret-down-circle" toggleIconSlot="start">
    <ion-item slot="header" color="light">
      <ion-label color="primary">
        <div class="title-accordion">
        <span>Elaboration:</span>  <ion-icon name="create-outline" size="large" color="primary"></ion-icon></div></ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Elaboration contents</div>
  </ion-accordion>
  <ion-accordion value="maduration" toggleIcon="caret-down-circle" toggleIconSlot="start">
    <ion-item slot="header" color="light">
      <ion-label color="primary">Maduration</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Maduration content</div>
  </ion-accordion>

  <ion-accordion value="taste" toggleIcon="caret-down-circle" toggleIconSlot="start">
    <ion-item slot="header" color="light">
      <ion-label color="primary">Taste</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Taste content</div>
  </ion-accordion>
</ion-accordion-group>
    } @else {
    <div>Cheese not found</div>
    }
  </section>
  <br><br><br>
  <ion-button  (click)="deleteCheese(cheese?._id ?? '')" color="danger"><ion-icon name="trash-outline" color="light"></ion-icon></ion-button>

</ion-content>
<app-menu></app-menu>
