ion-label {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1rem;
}

.delete-button {
  width: 90vw;
  --border-radius: 0.75rem;
  --padding-start: 1rem;
  --padding-end: 1rem;
  margin-top: 1rem;
  font-weight: 600;

  ion-icon {
    margin-right: 0.5rem;
  }
}
