section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
ion-label {
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1rem;
}
ion-accordion .accordion-toggle-icon {
  color: var(--primary-color) !important;
}