<article>
  @if (isLoading) {
  <div class="flex justify-center items-center h-32">
    <ion-spinner name="circular"></ion-spinner>
  </div>
  } @else if (photo1 != '') {
    <app-cheese-detail-images [cheeseId]="item._id"></app-cheese-detail-images>

  } @else {
  <img
    src="../../../assets/img/my-cheese-default.jpg"
    alt="{{ item.name }}"
    class="w-full h-20 object-cover rounded-lg"
  />
  }
  <div class="w-full flex items-center justify-between">
    <div class="w-full flex justify-between items-center">
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              [value]="item.date"
              (ionChange)="updateDate($event.detail.value?.toString() ?? '')"
              presentation="date"
              [formatOptions]="{
                date: { day: '2-digit', month: 'long', year: '2-digit' }
              }"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-button
        fill="clear"
        color="transparent"
        (click)="statusModalOpen = true"
      >
        <app-ico-cheese-status [status]="item.status"></app-ico-cheese-status>
      </ion-button>
      <!-- Modal for status selection -->
      <ion-modal
        [isOpen]="statusModalOpen"
        (didDismiss)="statusModalOpen = false"
        initialBreakpoint="0.3"
      >
        <ng-template>
          <ion-list>
            <ion-item button (click)="setStatus('Todo')">Todo</ion-item>
            <ion-item button (click)="setStatus('Doing')">Doing</ion-item>
            <ion-item button (click)="setStatus('Done')">Done</ion-item>
          </ion-list>
        </ng-template>
      </ion-modal>
    </div>
  </div>
  <h1 class="text-2xl font-bold mt-2">{{ item.name }}</h1>
  <p>Liters: {{ item.milkQuantity }}</p>
  <p class="flex items-center">Type: <app-ico-milk-type [tipus]="item.milkType"></app-ico-milk-type></p>
  <p>From: {{ item.milkOrigin }}</p>
  <div (click)="descriptionModalOpen = true" class="flex-col cursor-pointer">
    <h3 class="font-bold m-0 p-0">Description</h3>
    <p class="text-gray-600 p-0 m-0">{{ item.description }}</p>
  </div>
  <ion-modal
    [isOpen]="descriptionModalOpen"
    (didDismiss)="descriptionModalOpen = false"
    initialBreakpoint="0.5"
  >
    <ng-template>
      <ion-list>
        <ion-item>
          <div class="w-full min-h-48 mt-6">
            <ion-textarea
              #descArea
              [value]="item.description"
              placeholder="Enter your description"
              auto-grow="true"
            ></ion-textarea>
          </div>
        </ion-item>
        <ion-button
          expand="block"
          (click)="saveDescription(descArea.value ?? '')"
          >Save</ion-button
        >
      </ion-list>
    </ng-template>
  </ion-modal>
  <br />
</article>
