/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-content {
  --background: var(--ion-background-color);
  --box-shadow: none;
  padding-bottom: var(--footer-height);
}
html,
body {
  overflow-x: hidden;
}
ion-button {
  margin: 24px auto 0 auto;
  display: block;
  width: 172px;
  max-width: 90vw;
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 600;
  --border-radius: 24px;
  font-family: var(--ion-font-family);
  --color: var(--ion-color-tertiary);
  --box-shadow: none;
  text-transform: none;
  transition: background 0.2s, transform 0.1s;
}
ion-button {
  --background: var(--ion-button-background);
}
ion-button:hover {
  --background: var(--ion-button-background-hover);
  color: #fff;
}
ion-button:active {
  --background: var(--ion-button-background-active);
}
ion-button:focus {
  color: #fff;
}
ion-toolbar {
  --background: transparent;
  background: transparent;
  box-shadow: none;
  border: none;
}
@media (max-width: 600px) {
  .main-title {
    font-size: 2.2rem;
  }
}
