/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';

body {
  --ion-background-color: var(--bg-color);
  --ion-text-color: var(--dark-color);
}
a {
  text-decoration: none;
  cursor: pointer;
}
hr {
  margin: 0.6rem 0;
  border: none;
  border-top: 1px solid var(--primary-color);
  width: 100%;
}
ion-button {
  --background: var(--secondary-color);
  --background-hover: var(--secondary-color);
  --background-activated: var(--secondary-color);
  --background-focused: var(--secondary-color);
  --color: var(--tertiary-color);
  font-weight: bold;
  --border-radius: 24px;
  text-transform: capitalize;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 2rem;
  --padding-end: 2rem;
  margin: 1rem 0.4rem;
}

ion-button:hover, ion-button:active, ion-button:focus {
  --background: var(--secondary-color);
  --ripple-color: transparent;
} 

ion-toolbar {
  --background: var(--ion-color-light);
  --box-shadow: none;
  --border-width: 0;
  --border-color: transparent;
}
ion-content {
  --background: var(--bg-color);
}
ion-item {
  --border-color: transparent;
  --highlight-height: 0;
  margin: 0.4rem 0;
}
ion-label {
  color: var(--primary-color) !important;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
ion-text {
  text-align: center;
  width: 100%;
}
ion-input,
ion-textarea {
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  width: 100%;
  border-radius: 0.8rem;
  background-color: var(--grey-light-color);
}
ion-searchbar {
  --background: var(--grey-light-color) !important;
  border-radius: 0.8rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}
ion-textarea {
  height: fit-content;
}
ion-select {
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  background-color: var(--grey-light-color);
  border-radius: 0.8rem;
  width: 100% !important;
}
ion-select icon {
  background-color: green;
  color: var(--primary-color);
}

ion-input {
  background-color: var(--grey-light-color);
  border-radius: 0.8rem;
  --inner-padding-start: 0.5rem;
  --inner-padding-end: 0.5rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
}
ion-input input {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  height: fit-content;
}

ion-textarea {
  min-height: 8rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}
