<ion-tab-bar color="light">
  <ion-tab-button tab="1" [routerLink]="'/my-cheeses'">
    <ion-icon name="home-outline"  color="primary"></ion-icon>
    <ion-label color="primary">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="2" [routerLink]="'/world-cheeses'">
    <ion-icon name="earth-outline"  color="primary"></ion-icon>
    <ion-label  color="primary">World</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="3" [routerLink]="'/community'">
    <ion-icon name="heart-outline" color="primary"></ion-icon>
    <ion-label  color="primary"> Community</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="4" [routerLink]="'/profile'">
    <ion-icon name="person-outline"  color="primary"></ion-icon>
    <ion-label color="primary">Profile</ion-label>
  </ion-tab-button>
</ion-tab-bar>
