.meetings-container {
  padding: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

ion-button {
  --background: transparent;
}

ion-card-title {
  color: var(--ion-color-tertiary);
}
