<section class="p-6 flex flex-col items-center w-full gap-2">
  <p class="text-lg font-bold">add note {{ noteForm.get('noteDate')?.value }}</p>
  <form [formGroup]="noteForm">
    <ion-item style="width: 90vw;">
      <ion-textarea formControlName="noteText" placeholder="Enter your note" style="height: 40vh;"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">About</ion-label>
      <ion-select formControlName="noteAbout" interface="action-sheet" placeholder="Select note about">
        <ion-select-option value="Before">Before</ion-select-option>
        <ion-select-option value="Elaboration">Elaboration</ion-select-option>
        <ion-select-option value="Maturation">Maturation</ion-select-option>
        <ion-select-option value="Taste">Taste</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-button (click)="saveNote()">Save Note</ion-button>
  </form>
</section>